/* g3-architects style here */
/* font url */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* universal selectors */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

/* work sans font here */
.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
/* shared style */
.primary-color {
  background-color: #ff900e;
}

/* dark-1 */
.dark-gray {
  color: rgba(19, 19, 19, 1);
}

/* dark-2 */
.light-gray {
  color: rgb(105, 102, 102);
}
main > section {
  width: 1440px;
  margin: 0 auto;
}

/* header style start here */
.header {
  width: 1920px;
  height: 1322px;
  background-color: rgba(255, 144, 14, 0.1);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 230px;
  margin-bottom: 100px;
}
.logo h3 {
  font-weight: 800;
  font-size: 2.8rem;
}
.nav-link ul {
  display: flex;
  gap: 50px;
  list-style: none;
}
.nav-link ul li a {
  font-size: 1.25rem;
  font-weight: 500;
  color: rgba(66, 66, 66, 1);
  text-decoration: none;
}
.nav-link ul li a:hover {
  text-decoration: underline;
  color: rgba(66, 66, 66, 1);
}
/* nav style end */
/* banner style start here */
.banner-content h1 {
  font-weight: 800;
  font-size: 4rem;
  text-align: center;
}
.banner-content p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}
.banner-btn button {
  padding: 20px 25px;
  color: white;
  font-size: 1.25rem;
  border-radius: 8px;
  border: none;
}
.banner-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.banner-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
/* banner section style end */
/* team section style here */

.team {
  display: flex;
  text-align: start;
  justify-content: center;

  margin-top: 85px;
  gap: 70px;
}
.team-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team-content h3 {
  color: #ff900e;
  font-size: 2.8rem;
  margin-bottom: 24px;
}
.team-content p {
  margin-bottom: 30px;
}
.team-button button {
  padding: 20px 25px;
  color: white;
  font-size: 1.25rem;
  border-radius: 8px;
  border: none;
}
.team-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
/* team style end here */
/* feature section starts here */

.feature {
  display: flex;

  justify-content: center;
  gap: 135px;
}
.feature-content {
  margin-top: 170px;
}
.feature-title {
  font-weight: 700;
  font-size: 2.8rem;

  border-left: 5px solid #ff900e;
  padding-left: 21px;
  margin-bottom: 24px;
}
.feature-description {
  font-weight: 500;
  margin-bottom: 30px;
}

.feature-box {
  background-color: white;
  box-shadow: 0px 4px 30px 0 #00000013;
  margin-bottom: 30px;
  border-radius: 8px;
}
.feature-box > div {
  padding: 30px;
}
.box-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.feature-image img {
  margin-top: 130px;
}
.feature-btn button {
  padding: 45px 42px;
  border: none;
  border-radius: 8px;
  color: white;
  margin-left: -100px;
  margin-top: -100px;
}
.biggest-word {
  font-weight: 800;
  font-size: 4rem;
}
.small-word {
  font-weight: 500;
  font-size: 1.5rem;
}
